.nav-item a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding: 0 10px;
  opacity: 0.5;
}

.nav-item a:hover {
  opacity: 0.75;
}

.active-link {
  opacity: 1 !important;
}

.guessInput {
  width: 20px;
  height: 25px;
  background-color: #212529;
  color: white;
  text-align: center;
}

.hinted {
  opacity: 0.75;
  background-color: #292e33;
}
